<a href="https://colab.research.google.com/github/pratyushlokhande/BigData-Privacy-Preservation/blob/main/PrivacyPreservation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Generating Dataset**

In [62]:
# importing Libraries
import pandas as pd
import random
!pip install Faker
from faker import Faker
from random import randrange
import time

Requirement already satisfied: Faker in /usr/local/lib/python3.7/dist-packages (10.0.0)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from Faker) (3.10.0.2)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.7/dist-packages (from Faker) (1.3)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [79]:
# initialisations 
user_count = 100

fake = Faker()

users = []

In [80]:
# Generating Data
for user_id in range(user_count):

    #create customer's name
    name = fake.name()

    # Create gender
    gender = random.choice(["M", "F"])

    # Create age
    age = random.randint(18, 60)

    # Create email 
    email = fake.ascii_email()

    #create product ID in 8-digit barcode
    pincode = fake.ean(length=8)[:6]
    
    #create amount spent
    salary = fake.pyfloat(right_digits=2, positive=True, min_value=1, max_value=100)*1000

    users.append([name, gender, age, email, pincode, salary])

In [81]:
# converting to dataframe
df = pd.DataFrame(users, columns=['Name', 'Gender','Age', 'Email', 'Pincode', 'Salary'])
df

                 Name Gender  ...  Pincode   Salary
0          Lucas Webb      F  ...   707876  30000.0
1       Brian Johnson      M  ...   739289  41680.0
2      Pamela Murillo      M  ...   069659  91110.0
3   Dr. Sandra Benson      M  ...   877689  48150.0
4         Edward Khan      M  ...   416872  84800.0
..                ...    ...  ...      ...      ...
95      Teresa Harris      F  ...   949812  60600.0
96     Mitchell Jones      M  ...   585756  75300.0
97        Juan Pineda      M  ...   018785  70540.0
98    Spencer Hawkins      M  ...   012689  91850.0
99    Thomas Williams      M  ...   893031  15260.0

[100 rows x 6 columns]

**Weight Table**

In [82]:
# Weight Table
weight_table = {
              'name': 4,
              'gender': 2,
              'age': 3, 
              'email': 5,
              'pincode': 6,
              'salary': 1   
            }

weight_table

{'age': 3, 'email': 5, 'gender': 2, 'name': 4, 'pincode': 6, 'salary': 1}

**Encrypting Algorithms**

In [86]:
# Encryption Algorithms

# for age encryption
def rangeEncryption(data):
  start = time.time()
  res = []
  for val in data:
    res.append("[" + str(int(val/10)*10) + "-" + str(int(val/10)*10+9) + "]")
  end = time.time()
  t = (end - start)*1000
  return {'data': res, 'time': t}


# for pincode encryption 
def pinEncryption(data):
  start = time.time()
  res = []
  for val in data:
    res.append(val[:3] + "**" + val[-1:])
  end = time.time()
  t = (end - start)*1000
  return {'data': res, 'time': t}


# for email encryption
def mailEncryption(data):
  start = time.time()
  res = []
  for val in data:
    updatedVal = val.split("@")[0][0] + "*"*(len(val.split("@")[0])-3) + val.split("@")[0][-2:] + "@" + val.split("@")[1]
    res.append(updatedVal)
  end = time.time()
  t = (end - start)*1000
  return {'data': res, 'time': t}

**S-Table**

In [137]:
# S-Table
s_table = {
              'age': weight_table['age']/rangeEncryption(df['Age'])['time'], 
              'email': weight_table['email']/mailEncryption(df['Email'])['time'],
              'pincode': weight_table['pincode']/pinEncryption(df['Pincode'])['time'],
            }

print(s_table)

# Sorting S-Table
# print(dict(sorted(s_table.items(), key=lambda item: item[1], reverse=True)))

{'age': 8.943078891257995, 'email': 13.697922926192032, 'pincode': 53.20470190274841}

**Execution Time**

In [138]:
def getExecTime(data, algo, flag):
  start = time.time()
  data = data.unique()
  if flag:
    data = algo(data)['data']
  print(sorted(data))
  end = time.time()
  t = (end - start)*1000
  return t

**M-Table**

In [185]:
# M-Table
m_table = {
              'age': { 'amount': len(df['Age'].unique()), 
                      'with_encrypt': { 'time': getExecTime(df['Age'], rangeEncryption, True), 'weight': weight_table['age'] },
                      'without_encrypt': { 'time': getExecTime(df['Age'], rangeEncryption, False), 'weight': 0 }  
                     },
              'email': { 'amount': len(df['Email'].unique()), 
                      'with_encrypt': { 'time': getExecTime(df['Email'], mailEncryption, True), 'weight': weight_table['email'] },
                      'without_encrypt': { 'time': getExecTime(df['Email'], mailEncryption, False), 'weight': 0 }  
                     }, 
              'pincode': { 'amount': len(df['Pincode'].unique()), 
                      'with_encrypt': { 'time': getExecTime(df['Pincode'], pinEncryption, True), 'weight': weight_table['pincode'] },
                      'without_encrypt': { 'time': getExecTime(df['Pincode'], pinEncryption, False), 'weight': 0 }  
                     }
          }

['[10-19]', '[10-19]', '[20-29]', '[20-29]', '[20-29]', '[20-29]', '[20-29]', '[20-29]', '[20-29]', '[20-29]', '[20-29]', '[30-39]', '[30-39]', '[30-39]', '[30-39]', '[30-39]', '[30-39]', '[30-39]', '[40-49]', '[40-49]', '[40-49]', '[40-49]', '[40-49]', '[40-49]', '[40-49]', '[40-49]', '[40-49]', '[40-49]', '[50-59]', '[50-59]', '[50-59]', '[50-59]', '[50-59]', '[50-59]', '[50-59]', '[50-59]', '[50-59]', '[60-69]']
[18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 32, 33, 34, 35, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60]
['a***********ez@gmail.com', 'a**********er@bennett.com', 'a**********er@parsons-bailey.biz', 'a********on@camacho.com', 'a*****39@green.net', 'a*****47@hotmail.com', 'a*****55@hotmail.com', 'a*****79@hotmail.com', 'b**********as@gmail.com', 'b*******93@abbott.com', 'b*******on@perkins-moore.biz', 'b*****40@hotmail.com', 'b*****oe@gibson.com', 'b****on@dickson.org', 'c**********ny@yahoo.com', 'c*********ry@gmail.com', 'c*******11@collins-hammond.biz', 'c******28@yahoo.com', 'd************rd@hotmail.com', 'd***********ez@hotmail.com', 'd********ia@hotmail.com', 'd********ng@morales.net', 'd*******fe@hotmail.com', 'd******on@gmail.com', 'd*****94@mullins-simpson.com', 'd***50@gmail.com', 'e*********dy@carter.biz', 'e*****25@gmail.com', 'e**ng@rose-carlson.biz', 'f****rs@edwards-jenkins.com', 'g************ny@gmail.com', 'g**********ly@gmail.com', 'h*************ew@hotmail.com', 'h***********oa@yahoo.com', 'h**********sa@gmail.com', 'h********to@carroll.net', 'h*****er@ward.com', 'h**rg@mills.com', 'i*****as@mclean-miller.com', 'i***ll@gmail.com', 'i*ee@gmail.com', 'j************es@roberson.com', 'j***********ck@smith.com', 'j***********er@hotmail.com', 'j***********er@oliver.com', 'j*******oy@hotmail.com', 'j******gs@yahoo.com', 'j******ok@yahoo.com', 'j*****83@mcmahon-mahoney.net', 'j****75@gmail.com', 'j****78@gmail.com', 'k********ia@nguyen.info', 'k*******59@parker-carroll.org', 'k*******79@yahoo.com', 'k*******re@griffin.org', 'k******77@decker-doyle.com', 'k*****ke@bright.com', 'k****er@cuevas.biz', 'l*******ez@nelson.biz', 'l*******ez@powell.info', 'm************na@hotmail.com', 'm************ra@greene-smith.com', 'm*******th@gmail.com', 'm*****05@hotmail.com', 'o****el@johnson.biz', 'p******nd@bridges.com', 'p****61@hotmail.com', 'p****dt@yahoo.com', 'q**rn@gmail.com', 'r**************ll@moore.com', 'r************is@nelson.com', 'r**********er@davies.com', 'r**********es@roth.com', 'r********ew@morris.com', 'r*******an@torres.com', 'r*******et@campbell.com', 'r*******st@hotmail.com', 's***************ez@thompson.com', 's***********er@cole.com', 's***********is@hotmail.com', 's**********ph@yahoo.com', 's*********sa@gmail.com', 's******ll@smith.biz', 's*****53@gmail.com', 's*****es@hotmail.com', 's*****za@yahoo.com', 't************ny@hotmail.com', 't*********ia@cole.com', 't*********is@hotmail.com', 't*******on@cooper.com', 't******46@dalton-patel.net', 't***16@williams.com', 't***73@macdonald-nguyen.com', 'v****er@brown-santiago.info', 'v****er@harris.com', 'w**********la@cooper.com', 'w*********ez@beasley.info', 'w******41@moreno.com', 'y****ey@gmail.com', 'z**od@hotmail.com']
['aarongordon@camacho.com', 'acevedowalter@parsons-bailey.biz', 'alicia47@hotmail.com', 'amanda39@green.net', 'angela79@hotmail.com', 'annaalexander@bennett.com', 'ariana55@hotmail.com', 'austinmartinez@gmail.com', 'bhudson@dickson.org', 'blairnicholas@gmail.com', 'blakeolson@perkins-moore.biz', 'bonnie40@hotmail.com', 'boyerjoe@gibson.com', 'brittany93@abbott.com', 'castrotiffany@yahoo.com', 'christie11@collins-hammond.biz', 'crystal28@yahoo.com', 'crystalterry@gmail.com', 'danderson@gmail.com', 'daniel94@mullins-simpson.com', 'dannyhernandez@hotmail.com', 'davidsonrichard@hotmail.com', 'davidwolfe@hotmail.com', 'dean50@gmail.com', 'debragarcia@hotmail.com', 'denniszhang@morales.net', 'edwardsbrady@carter.biz', 'elijah25@gmail.com', 'eyang@rose-carlson.biz', 'frogers@edwards-jenkins.com', 'griffinbrittany@gmail.com', 'guerreroholly@gmail.com', 'hayleyfigueroa@yahoo.com', 'hberg@mills.com', 'hernandezmatthew@hotmail.com', 'hillroberto@carroll.net', 'holmestheresa@gmail.com', 'hwebster@ward.com', 'ilee@gmail.com', 'isalinas@mclean-miller.com', 'ismall@gmail.com', 'jacobcook@yahoo.com', 'jason75@gmail.com', 'jason78@gmail.com', 'jcummings@yahoo.com', 'jeffreygonzales@roberson.com', 'jenkinsjoy@hotmail.com', 'jenniferkeller@hotmail.com', 'johnsonheather@oliver.com', 'johnsonpatrick@smith.com', 'joshua83@mcmahon-mahoney.net', 'kaitlin77@decker-doyle.com', 'kathleen59@parker-carroll.org', 'kellygarcia@nguyen.info', 'kerrmike@bright.com', 'kevinmoore@griffin.org', 'kholder@cuevas.biz', 'kimberly79@yahoo.com', 'leeramirez@nelson.biz', 'lfernandez@powell.info', 'martinseth@gmail.com', 'millercassandra@greene-smith.com', 'molinachristina@hotmail.com', 'monica05@hotmail.com', 'odaniel@johnson.biz', 'patty61@hotmail.com', 'pbrandt@yahoo.com', 'pcopeland@bridges.com', 'qhorn@gmail.com', 'rchristian@torres.com', 'rebeccaholmes@roth.com', 'rebeccahunter@davies.com', 'reyesjanet@campbell.com', 'ricematthew@morris.com', 'rodriguezalexis@nelson.com', 'rodriguezmitchell@moore.com', 'ronaldwest@hotmail.com', 'samanthaharris@hotmail.com', 'scottalexander@cole.com', 'sharon53@gmail.com', 'sheltonjoseph@yahoo.com', 'smendoza@yahoo.com', 'smithmelissa@gmail.com', 'smorales@hotmail.com', 'stacybell@smith.biz', 'stephaniegutierrez@thompson.com', 'tara73@macdonald-nguyen.com', 'timothy46@dalton-patel.net', 'todd16@williams.com', 'travisalexis@hotmail.com', 'troywilson@cooper.com', 'trujillodestiny@hotmail.com', 'turnersylvia@cole.com', 'vglover@brown-santiago.info', 'vmiller@harris.com', 'wallaceangela@cooper.com', 'whitney41@moreno.com', 'williamnunez@beasley.info', 'ydorsey@gmail.com', 'zhood@hotmail.com']
['012**9', '018**5', '026**6', '032**9', '051**1', '069**9', '083**6', '083**8', '095**0', '107**6', '110**6', '113**9', '139**9', '140**6', '163**1', '170**4', '183**3', '204**7', '207**9', '208**5', '252**4', '265**1', '273**3', '281**5', '283**1', '289**7', '291**9', '301**9', '319**6', '320**7', '321**3', '329**1', '365**7', '379**7', '387**8', '393**4', '409**7', '415**1', '416**2', '430**2', '454**5', '462**2', '466**9', '471**7', '519**5', '519**5', '532**1', '550**9', '552**1', '556**8', '578**1', '581**5', '582**0', '585**6', '585**7', '597**9', '601**3', '615**6', '618**1', '641**9', '641**9', '651**9', '660**8', '668**0', '691**6', '695**7', '704**5', '707**6', '712**4', '721**6', '723**9', '726**0', '739**9', '742**4', '742**9', '771**8', '774**6', '794**3', '794**6', '797**0', '805**5', '807**8', '817**2', '826**7', '849**4', '877**7', '877**9', '886**4', '893**1', '895**5', '926**0', '929**6', '930**2', '949**2', '955**5', '964**7', '982**2', '982**2', '988**7', '996**8']
['012689', '018785', '026566', '032109', '051921', '069659', '083356', '083788', '095880', '107576', '110816', '113599', '139239', '140566', '163251', '170754', '183793', '204307', '207329', '208495', '252714', '265341', '273623', '281045', '283141', '289967', '291789', '301039', '319996', '320927', '321543', '329801', '365937', '379017', '387268', '393174', '409097', '415371', '416872', '430312', '454975', '462232', '466559', '471757', '519195', '519765', '532331', '550739', '552461', '556318', '578091', '581495', '582910', '585257', '585756', '597999', '601733', '615326', '618321', '641549', '641999', '651549', '660968', '668840', '691496', '695207', '704305', '707876', '712384', '721226', '723109', '726400', '739289', '742484', '742959', '771278', '774906', '794226', '794903', '797120', '805725', '807998', '817352', '826417', '849604', '877167', '877689', '886234', '893031', '895195', '926500', '929916', '930852', '949812', '955235', '964127', '982482', '982872', '988947', '996458']

In [186]:
print(m_table)

{'age': {'amount': 38, 'with_encrypt': {'time': 1.6617774963378906, 'weight': 3}, 'without_encrypt': {'time': 0.7681846618652344, 'weight': 0}}, 'email': {'amount': 100, 'with_encrypt': {'time': 0.9837150573730469, 'weight': 5}, 'without_encrypt': {'time': 0.606536865234375, 'weight': 0}}, 'pincode': {'amount': 100, 'with_encrypt': {'time': 0.5309581756591797, 'weight': 6}, 'without_encrypt': {'time': 0.41747093200683594, 'weight': 0}}}

**Time Constrains**

In [220]:
# finding time constrains

tc = 7 # given

tm = 0
for obj in m_table:
  tm += m_table[obj]['without_encrypt']['time']

tp = 0
for obj in m_table:
  tp += m_table[obj]['with_encrypt']['time']

print(tc, tm, tp)

7 1.7921924591064453 3.176450729370117

**DED**

In [221]:
# DED

def DED():
  p = []
  ts = tc - (tm + tp)

  for obj in s_table:
    print(ts)
    if ts > (m_table[obj]['with_encrypt']['time'] - m_table[obj]['without_encrypt']['time']):
      p.append(obj)
      ts -= (m_table[obj]['with_encrypt']['time'] - m_table[obj]['without_encrypt']['time'])
    else:
      break
  return p

In [204]:
print(DED()) # tc = 6.3

1.3313568115234373
0.4377639770507811
0.0605857849121092
['age', 'email']

In [207]:
print(DED()) # tc = 6

1.0313568115234375
0.13776397705078125
['age']

In [210]:
print(DED()) # tc = 7

2.0313568115234375
1.1377639770507812
0.7605857849121094
['age', 'email', 'pincode']

**Encrypting the Data based on choice**

In [ ]:
# Encrypt data available in p
for obj in DED():
  if obj == 'age':
    df['Age'] = rangeEncryption(df['Age'])['data']
  elif obj == 'email':
    df['Email'] = mailEncryption(df['Email'])['data']
  else :
    df['Pincode'] = pinEncryption(df['Pincode'])['data']

In [216]:
df # tc = 7

                   Name Gender  ... Pincode   Salary
0            Lucas Webb      F  ...  707**6  30000.0
1         Brian Johnson      M  ...  739**9  41680.0
2        Pamela Murillo      M  ...  069**9  91110.0
3     Dr. Sandra Benson      M  ...  877**9  48150.0
4           Edward Khan      M  ...  416**2  84800.0
5        Stephanie Ball      M  ...  170**4  30370.0
6       Monica Robinson      M  ...  597**9  16530.0
7         Annette Burns      M  ...  877**7   9410.0
8          Carl Marquez      M  ...  556**8  18770.0
9       Margaret Thomas      F  ...  982**2  96170.0
10       Robin Campbell      F  ...  281**5  92520.0
11         Tara Morales      F  ...  393**4  11530.0
12        David Mcbride      M  ...  083**8  50610.0
13           Jesse Long      F  ...  430**2  13500.0
14      Micheal Parsons      M  ...  774**6  41600.0
15         Travis Burke      M  ...  723**9  62470.0
16        Zachary Brown      F  ...  996**8  88750.0
17          Susan White      M  ...  895**5  74630.0
18       Kimberly Gomez      F  ...  930**2  73610.0
19        Jessica Riley      M  ...  826**7   4970.0
20          Jenna Quinn      F  ...  964**7  97570.0
21        Sandra Oliver      F  ...  886**4  38130.0
22         Malik Harris      M  ...  471**7  34100.0
23          Laura Cohen      M  ...  466**9  78390.0
24           Shari Webb      F  ...  550**9  15690.0
25         Amanda Clark      M  ...  083**6  37660.0
26    Brooke Cunningham      F  ...  797**0  64240.0
27    Timothy Rodriguez      F  ...  026**6  13600.0
28           Jack Mills      M  ...  379**7  90940.0
29        Marcus Miller      M  ...  581**5  93690.0
30     Steven Alexander      M  ...  805**5  57480.0
31              Ann Fox      F  ...  462**2  30480.0
32          Paul Macias      M  ...  726**0  63780.0
33      Timothy Lindsey      M  ...  641**9  85900.0
34             Tina Lee      F  ...  283**1  83410.0
35        Janice Lawson      M  ...  618**1  83700.0
36    Bethany Underwood      M  ...  712**4  65140.0
37         Douglas Bell      F  ...  695**7  99840.0
38        Brittany Wolf      M  ...  032**9  26790.0
39          Scott Myers      M  ...  585**7  29170.0
40      Matthew Manning      M  ...  794**3  92400.0
41         Lauren Munoz      M  ...  051**1  54230.0
42        Sherri Dorsey      M  ...  807**8  47570.0
43      Brenda Trujillo      F  ...  615**6  91870.0
44          Melissa Lee      F  ...  252**4  38300.0
45        Sandra Santos      F  ...  578**1  59510.0
46      Zachary Schultz      M  ...  204**7  96950.0
47  Matthew Christensen      M  ...  320**7  23740.0
48       Amber Williams      M  ...  721**6  82720.0
49        Albert Berger      M  ...  532**1  67130.0
50         Alison Kirby      F  ...  704**5  58900.0
51        James Garrett      M  ...  660**8  48990.0
52         Arthur Green      F  ...  110**6  15240.0
53        Michael Moyer      F  ...  742**9  49620.0
54          Scott Greer      M  ...  365**7  74600.0
55      Jeremy Harrison      F  ...  668**0  44920.0
56   Alexander Franklin      F  ...  601**3  33900.0
57      Vanessa Swanson      M  ...  929**6  26780.0
58       Sherri Sanders      F  ...  289**7  56680.0
59      Bethany Freeman      M  ...  742**4  98940.0
60    Christopher Perez      M  ...  273**3  62430.0
61         Kevin Lowery      F  ...  849**4  66940.0
62         Amanda Hines      M  ...  454**5   8590.0
63          Brenda Pena      M  ...  319**6  62680.0
64   William Harrington      F  ...  139**9  51570.0
65          Colin Hayes      F  ...  926**0  19950.0
66        Cesar Edwards      F  ...  163**1  44770.0
67      Sherri Thompson      F  ...  265**1  93120.0
68         Daniel White      F  ...  183**3  33470.0
69         Amber Garcia      M  ...  771**8  22770.0
70        Patrick Price      M  ...  415**1  23700.0
71        Allison Brown      M  ...  552**1  74000.0
72       Kathy Williams      F  ...  519**5  34210.0
73         Daisy Curtis      M  ...  208**5  66370.0
74          Tracy Hayes      M  ...  095**0  84800.0
75       Patricia Brown      M  ...  140**6  55990.0
76         Jeff Sellers      M  ...  329**1  92620.0
77           Holly Ross      M  ...  321**3  48500.0
78           Megan Boyd      F  ...  291**9  69640.0
79            Brian Lee      M  ...  107**6  53210.0
80       Darrell Jordan      M  ...  794**6   2550.0
81        Tamara Mooney      M  ...  955**5  76400.0
82     Katherine Burton      M  ...  387**8   7690.0
83        Andrea Rogers      F  ...  519**5  77210.0
84      Kristen Johnson      M  ...  301**9  69780.0
85       Ricardo Hansen      M  ...  207**9   6710.0
86       Heather Medina      M  ...  113**9  89730.0
87           Diana Reid      M  ...  982**2  83950.0
88       Patrick Cooper      M  ...  582**0  97650.0
89        Kathryn Davis      F  ...  817**2  72150.0
90         Megan Watson      F  ...  651**9  50460.0
91           Cody Green      M  ...  988**7  17540.0
92       Crystal Hudson      M  ...  409**7  57000.0
93         Daniel Perez      F  ...  641**9  46150.0
94     Sergio Hernandez      M  ...  691**6  58900.0
95        Teresa Harris      F  ...  949**2  60600.0
96       Mitchell Jones      M  ...  585**6  75300.0
97          Juan Pineda      M  ...  018**5  70540.0
98      Spencer Hawkins      M  ...  012**9  91850.0
99      Thomas Williams      M  ...  893**1  15260.0

[100 rows x 6 columns]